.title {
    padding: 10px;
    background-color: #04838F;
    width: 300px;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    font-weight: 400;
    font-size: 24px;
}